<p>Bonjour,</p>
<p>Un compte vient de vous être créé.</p>
<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd>{{ student.username }}</dd>
    <dt>Mot de passe (temporaire)</dt>
    <dd>{{ student.rawPassword }}</dd>
</dl>
<p>Cordialement,</p>
<p>Le site WEB</p>
